.container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.cell, .cellSafe {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
  border: 1px solid #ababab;
  padding: 5px;
  margin: 1px;
  width: 2.5rem;
  height: 2.5rem;
}

.cellSafe { 
  background-color: #c1c1c1;
}

$proximities: 1, 2, 3, 4, 5, 6, 7, 8;
@each $proximity in $proximities {
  .proximity-#{$proximity} {
    content: "{$proximity}";
  }
}